header{

}

header {
    font-size: 35px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 4px;
    text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
   width: 80%;
   height:auto;
   text-align: center;
}

.figure{
  width: 80%;
  height: auto;
   width: 100%;
}

img{
  width: 100%;
}

.logo{
  width:20px;
}

ul {
  list-style-type: none;
}

p {
    font-family: "Domine", serif;
    
}

nav{
  border: black;
  background-color: #F1B82D;
  text-align: center;
  width: 100%;
}

nav li {
  font-size: 18px;
}

footer{
  text-align: center;
  background-color: #F1B82D;

}

.internalheader {
  text-align: center;
  font-size: 32px;
}
