
/* this is on every page*/
header {
    font-size: 35px;
    width: 100vw;
    background-color: black;
    color: white;
    padding: 4px;
    text-align: center;
    height: auto;
}

h1{
  font-family: "Domine";
  font-size: 50%;
}

.center {
  margin-left: auto;
  margin-right: auto;
   width: 100vw;
   height:auto;
   text-align: center;
   display: block;
   font-family: "Domine", serif;
}

img{
  width: 100%
}

.logo{
  width: 40px;
  float: left;
  padding: 0px 0px 0px 20px;
}

p {
    font-family: "Domine", serif;
    font-size: 100%;
}

nav{
  border:none;
  background-color: #F1B82D;
  font-family: "Domine";
  font-size: 80%;
  font-weight:bold;
  width: 100vw;
  height:auto;
  display:flex;
flex-flow:row;
justify-content: space-around;
}

nav ul li {
  font-size: 18px;
  padding: 4px 0;
  font-size: 200%;
  border-top: 1px #79896D solid;
  border-left:none;
  border-right:none;
  display:block;
}

nav ul {
  list-style-type: none;
  display:none;
}

nav a:visited, nav a:link{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

footer{
  text-align: center;
  background-color: #F1B82D;
  width: 100%;
  clear: both;
}
/* this is end of every page content*/

/* this is homepage only*/
.figure{
  height: auto;
   width: 100%;
   padding:0px 0px 20px 0px;
}

figcaption{
  padding: 5px 0px 15px 0px;
}
/* this is end of homepage only*/

/* this is marching mizzou only*/
.q{
  color: #F1B82D;
  font-weight: bold;
}

/* this is end of marching mizzou only*/

h3{
  width:100%;
  text-align: center;
  font-size: 32px;
}

h1 a:link{
  text-decoration: none;
  color: white;
}

h1 a:visited{
  text-decoration: none;
  color: white;
}

/* this is maps page only*/
.housedecsmap{
  padding: 10px;
}

.paraderoutemap{
  padding: 10px;
}

h4{
  font-family: "domine", serif;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 0px 4px 0px;
  display:inline;
}
/* this is end of maps only*/


/* this is spotlight page only*/
.spotlightsidebar {
 clear: both;
}

.spotlightsidebar li{
  list-style-type: none;
  color: black;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1px;
  font-size: 100%;
}

.spotlightmain{
  width:100%;
}

h5{
  font-family: "Domine", serif;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 0px 4px 0px;
  display:inline;
}

figure a:visited, figure a:link{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/*changed photos' class to spotlightimg.avatar{
  width: 30%;
  min-width: 300px;
}*/

.spotlightsidebar ul{
  display:flex;
  flex-flow: row;
  justify-content: space-around;
  padding-left: 10px;
  background-color: #F1B82D;
}

.spotlightsidebar{
  padding-bottom: 10px;
}
/* this is end of spotlight page only*/

button{
display:block;
height:20%;
width:30%;
background-color: #F1B82D;
font-family: "Domine";
font-size: 100%;
}

@media screen and (min-width:700px){

  /* this is for game page */

  .tigerkickoff{
    width: 60%;
  }
 button{
   width:20%;
 }
  /* this is for end of game page */


  /* this is for hamburger menu and navigation */
  #hamburger{
    display: flex;
    margin:10px;
    }

#hamburger ul{
  display:flex;
  flex-flow:row;
  }

#hamburger li {
  border-left:1px solid rgba(255,255,255,.5);
  border-top:none;
  justify-content: space-around;
  padding:10px;
  margin:0 10px;
  }

 #hamburger li:last-child {
     border-right:1px solid rgba(255,255,255,.5);
 }

.logo{
display:none;
}
  /* end of hamburger menu and navigation */


  .spotlightimg {
      display: flex;
      width:500px;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 20px;
    }

.main{
  display:flex;
  flex-flow: row;
  justify-content: center;
}

nav{
  display:flex;
  flex-flow:row;
}

h1{
  font-size: 100%;
}

/*beginning of Spotlight Media Query Code */
.spotlightpage{
  display: flex;
  flex-flow: row;
}
.spotlightsidebar{
float:left;
flex:1 auto;
}

.spotlightsidebar ul{
display: block;
  justify-content:space-around;;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 0;
}

.spotlightsidebar li{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.spotlightmain{
  flex:3 auto;
}

.spotlightmain h5{
  text-align: center;
  padding:0;
/*align-content: center;*/
}

figure{
  text-align: center;
}

.spotlightpage .spotlightimg{
  width: 50%;
  height: 50%;
}

.spotlightmain figcaption{
  font-size: 100%;
  text-align: center;
}

/*.spotlightimgTruman{
  display: flex;
  flex-flow: column;
  align-self: center;
  width:500px;
  padding-top: 10px;
  padding-bottom: 20px;
}*/
/*End of Spoltlight Media Query*/
  }
  .calendar{
    display: flex;
    flex-flow:row wrap;
  }
  ​
  .calendaritem{
    background-color:white;
    flex: 1 auto;
  }
  ​
  .greek{
    border:4px black solid;
  }

  .alumni{
    border: 4px pink solid;
  }

  }

/* this is for hamburger menu that goes with */
